.sidebar__container {
  background-color: lightgray;

  width: 100%;
  height: 100vh;
}

.sidebar-main__container {
  border: red solid 3px;
  height: 110vh;
  position: fixed;

  right: auto;
  background-color: lightgray;
  width: 25%;
}


