.header__container {
  display: flex;
  width: 100%;
  height: 20vh;
  position: relative;
  background-image: url('../Assets/newspaper-image.png');
  background-position: center;
}

.header-sort-buttons__container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 3rem;

}

.header-sortBy-btn {
  width: 10rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  text-align: center;
}





.header {
  background-color: #bada55;
}
