.articlecard-main__container {
  margin-top: 3rem;
  display: flex;
  height: 60vh;
  width: 100%;
  background-color: white;
  padding-bottom: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
  background: linear-gradient(to bottom, #32363B, #4d4f54);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}

.articlecard-main__container:hover {
  transform: scale(1.1);
}

.articlecard-image__container {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 25vh;
  margin-top: 1rem;
  object-fit: fill;
}

.articlecard-image__container img {
  max-width: 100%;
  max-height: 100%;
  flex: 1;
}

.article-card-image {
  border-radius: 20px;
}

.articlecard-date-author__container {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-between;
}

.articlecard-body__container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 30vh;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  overflow: hidden;
  letter-spacing: 1px;
  font-family: 'NewsReader', sans-serif;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;

}

.articlecard-body__container a {
  text-decoration: none;
  color: inherit;
}

.articlecard-article-description__container {
  overflow: auto;
}

.articlecard-article-description__container > * {
  text-decoration: none;
}