.article-page-main__container {
    height: 700px;
    width: 100%;
    background-color: rgb(231, 18, 18);
    flex-direction: row;

    border: green 2px solid;

    transition: transform 0.2s ease-in-out;
}

.article-page-main__container:hover {
  transform: scale(1.1);
}

.article-page-image__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;

    border: darkorange solid 3px;
    object-fit: fill;
}

.article-page-image__container img {

    width: 100%;
    flex: 1;
  }


  .article-page-date-author__container {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: space-between;
  }

  .article-page-body__container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 1em;
    background-color: yellow;
    border: darkgreen solid 2px;
    font-size: larger;
    


}

.article-page-body__text {
font-size: 2rem;
}
