.comment__container {

    border: white solid 1px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
}

.comment-date-author__container {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1rem;
}

.comment-text {
    margin-bottom: 1rem;
}