@font-face {
  font-family: 'NewsReader';
  src: url('./Assets/Newsreader/Newsreader-VariableFont_opsz\,wght.ttf') format('truetype');

       font-style: normal;
       font-weight: normal;
       font-display: swap;
}

@font-face {
  font-family: 'NewsReader-italic';
  src: url('./Assets/Newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf') format('truetype');

       font-style: italic;
       font-weight: normal;
       font-display: swap;
}


.app__container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 15% 1fr;
  background: linear-gradient(to top, #ffffff, #c7c7c7);
  height: 100%; 
}


.content__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto ;
  width: 100%;
  height: auto;
  background-color: white;

  overflow-y: auto;
  position: relative; 
}


.article-link {
  text-decoration: none;
  color: inherit;
}

.article-link * {
  text-decoration: none;
  color: inherit;
}



@media only screen and (max-width: 1000px) {
  .sidebar__container {
    display: none;
  }



  .app__container {
    background-color: rgb(230, 221, 221);
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: auto;
  }

  .home-articles__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    height: 100%;
  }

  .articlecard-main__container {
    width: 100%;
    height: auto; 
  }
}




@media only screen and (max-width: 700px) {
  .sidebar__container {
    display: none;
  }

  .article-page-body__text {
    font-size: 1.5rem !important;
  }
 

.article-page-body__container {
    width: 50%;
    padding: 1.5rem !important;
  }

  .home-articles__container {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
    gap: 1rem;
    height: 100%;
  }

  .article-page-article-list__container {
    display: none !important;
  }
  .article-page-image__container {
    width: 100%;
  }
}





