html {
    overflow-x: hidden;
  }
.app__container {
  background-color: gray;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 25% 1fr;
  height: 100%;
}

.content__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: auto;
  margin-left: 1em;
  margin-right: 1em;
  overflow-y: auto;
}

.home-main__container {
  min-height: 100vh;
}

.sidebar {
  width: 100%;
}

.header {
  background-color: #bada55;
}

.home-articles__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  background-color: blue;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
.article-page-body__container {
    width: 50%;
  }
}

@media only screen and (max-width: 999px) {
  .sidebar__container {
    display: none;
  }

  .content__container {
    height: 100%;
  }


  .app__container {
    background-color: gray;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    min-height: 100vh;
  }

  .home-articles__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    gap: 50px;
    height: 100%;
  }

  .articlecard-main__container {
    width: 100%;
  }

  .footer__container {
    width: 100%;
    height: 13vh;
    background-color: aquamarine;
  }
}
